.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: #f4f4f4;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #5fbaa7;
}

span {
  color: #5fbaa7;
  font-size: 16px;
  margin-top: 20px;
  padding: 20px;
}
